.ant-carousel .slick-slide {
  text-align: center;
  /* height: 80vh; */
  /* line-height: 160px; */
  background: transparent;
  overflow: hidden;
}
.ant-carousel img {
  max-width: 40vw;
  height: auto;
}

li {
  list-style-type: none;
}
.message_us {
  top: 500px;
}
